numpy >= 1.17.0
easydict >= 1.9
scipy >= 1.5.2
matplotlib >= 3.1.3
Pillow >= 6.2.0
mindspore == 1.5.0
wheel >= 0.32.0
setuptools >= 40.8.0
requests >= 2.22.0
flask >= 1.1.1
python-Levenshtein >= 0.10.2
gensim == 3.8.1
PyYAML
opencv-python == 4.1.2.30
flask_cors >= 3.0.10
pycocotools >= 2.0.0          # for st test
wget == 3.2
scikit-learn == 1.0.1
tqdm == 4.62.3